body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}

.orange{
    color: orange;
}

.inline{
    display: inline;
}
section{
    display: flex;
}

.width-half{
    width: 50%;
    padding: 2%;
}

.width-half img{
    width: 90%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 900;
    color: white;
}

.first-sec{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second-sec{
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
    margin-top: 30px;
}